.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  padding-top: var(--gnb-height);
}

.main {
  flex: 1;
  margin-left: var(--lnb-width);
  padding: 32px;
  min-height: calc(100vh - var(--gnb-height));
}
